body{
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
}
h1{
    text-align: center;
    font-size: 5em;
    color: #fff;
}
button{
    text-align: left;
}